/*GENERAL CSS*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

* {
    font-family: Roboto;
}

.cwidth {
    max-width: 1080px;
    margin: 0 auto;
}

header, footer {
    background: #b2b2b2;
}

header {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}


/*CSS FOR TABLE-LIKE STYLING*/

.searchbar {
    padding-bottom: 0.75em;
    float: right;
}

#students_result, classes_result, teacher_result {
    width: 100%;
}

.listitem {
    background: #fefefe;
    padding: 12px 5%;
    width: 90%;
    overflow: hidden;
}

._table > div {
    border-bottom: 2px solid black;
    background: #a0a0a0;
    text-align:center;
}

.tableheader {
    font-weight: bold;
}

    .listitem:after {
        clear: both;
    }

    .listitem:nth-child(2n) {
        background: #dedede;
    }

    .listitem:hover {
        background: #e9d898;
    }
/*
    sandbox.bittsdevelopment.com/colcalc
    columns : 4
    gutter/column ratio : 0.2
*/


.col4, .col4last {
    float: left;
    width: 21.73%;
    margin-right: 4.34%;
}

.col4last {
    margin-right: 0%;
}


/*
Each column should be 17.48% wide with a gutter space of 3.14%
*/
.col5, .col5last {
    width: 17.48%;
    float: left;
    margin-right: 3.14%;
}

.col5last {
    margin-right: 0%;
}

/*CSS for navigation*/
li {
    display: inline-block;
    padding-right: 1em;
    padding-bottom: 0.75em;
}

li a {
    text-decoration:none;
}
nav {
    float: right;
}

img {
    width: 100px;
    height:auto;
     }
footer {
   margin: 10px;
}
footer p {
    font-size: 18px;
    text-align:center;
}

